@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");

* {
  box-sizing: border-box;
}

.Responsive_row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="Responsive_col-"] {
  float: left;
  padding: 9px;
}

/* For desktop: */
.Responsive_col-1 {
  width: 8.33%;
}
.Responsive_col-2 {
  width: 16.66%;
}
.Responsive_col-3 {
  width: 25%;
}
.Responsive_col-4 {
  width: 33.33%;
}
.Responsive_col-5 {
  width: 41.66%;
}
.Responsive_col-6 {
  width: 50%;
}
.Responsive_col-7 {
  width: 58.33%;
}
.Responsive_col-8 {
  width: 66.66%;
}
.Responsive_col-9 {
  width: 75%;
}
.Responsive_col-10 {
  width: 83.33%;
}
.Responsive_col-11 {
  width: 91.66%;
}
.Responsive_col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="Responsive_col-"] {
    width: 100%;
  }
}
